.hello {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
.hi {
       background-color: #ff5c5c;
       border: 10px solid black;
}
        table {
            width: 100%;
            margin: 10px auto; 
            border-collapse: collapse;\
        }
        td {
            border: 1px solid black;
            height: 60px;
            text-align: center; 
            font-size: 45px;
        }
.hover-button {
    padding: 15px 30px;
    font-size: 45px;
    background-color: #ff6e9e;
    border: 10px; 
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hover-button:hover {
    padding: 15px 30px;
    font-size: 45px;
    background-color: #ff5c5c;
    border: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.override-font {
    font-size: 30px;
} 
