        body {
             display: flex;
             justify-content: center;
             align-items: center;
             margin: 0;
         }
        table {
            width: 20px
            border-collapse: collapse;\
        }
        td {
            border: 1px solid black;
            height: 60px;
            text-align: center; 
            font-size: 45px;
            width: 450px;
        }
.button {
    font-size: 45px;
    width: 450px;
    height: 90px;
    background-color: #ff6e9e;
    border: 10px; 
    border-radius: 2px;
    cursor: pointer;
}

.button:hover {
    font-size: 45px;
    width: 450px;
    height: 90px;
    background-color: #ff5c5c;
    border: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.override-font {
    font-size: 30px;
} 

.pink-cell {
       background-color: #ff5c5c;
       border: 5px solid black;
}
